body {
  margin: 0;
  background-color: #000;
  
}

.ad-container{
  background-color: #fff;
  width: 70vw;
  margin: 0 auto;
  height: 200px;
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: #fff;
}

.unauth{
  text-align: center;
  color: #fff;
}
.signin{
  color: dodgerblue;
  background-color: rgb(25, 17, 17);
  border: none;
  padding: 10px;
  cursor: pointer;
}
.playpause{
  background-color: red;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50%;
  color: wheat;
  width: 100px;
  height: 100px;
}
.ftr-btn{
  border: none;
  background-color: yellow;
  padding: 10px;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}
.ftr-menu{
  display: flex;
  flex-wrap: wrap;
 width: 40%;
 margin: 0 auto;
  color: #fff;
  justify-content: center;
}
.ftr-menu p{
  margin-left: 20px;

}
.ftr{
  position: relative;
  bottom: 0;
  margin-top: 50px;
}
input{
  width: 200px;
}
label{
  display: block;
  width: 120px;
}
.gsi{
  margin-top: 20px;
  width: 250px;
  height: 50px;
  cursor: pointer;
}